google-api-python-client==2.201.0
google-auth==2.59.1
google-auth-oauthlib==1.5.0
librosa==1.0.0
mediapipe==1.0.1
numpy==2.5.3
opencv-contrib-python==5.0.0.93
pillow==12.3.0
pyyaml==6.0.3
scipy==1.18.1
